{% extends "base.html" %}

{% block main %}
{% endblock %}

{% block body %}

<!-- Show stored data in JSON format -->

<table style="text-align: center;" id="people">
     <!-- Header -->
     <tr> 
          <th>ID</th>
          <th>Language</th>
          <th>Movie</th>
          <th>Celebrity</th>
          <th>Desert</th>
          <th>Travel</th>
     </tr>
     <!-- Jinja Syntax for generating results from the person table -->
     {% for favourite in favourites %}
          <tr>
          {% for feature, info in favourite.items() %}
               <td>{{ info|e }}</td>
          {% endfor %}
          </tr>
     {% endfor %}
</table>

<div class="row" style="margin: 50px;">
     <form action="/post">
          <button type="submit" style="font-size: 20px; padding: 10px;">Return</button>
     </form>
</div>

{% endblock %}