{% extends "base.html" %}

{% block main %}
{% endblock %}

{% block body %}

{% from "includes/formhelpers.html" import render_field %}

<form action="" method="POST">

     <!-- Language -->
     <div class="row">
          <!-- Input Box -->
          <div class="right_col">
               {{render_field(info.language, class_="form-control")}}
          </div>
     </div>
     
     <!-- Movie -->
     <div class="row">
          <!-- Input Box -->
          <div class="right_col">
               {{render_field(info.movie, class_="form-control")}}
          </div>
     </div>
     
     <!-- Celebrity -->
     <div class="row">
          <!-- Input Box -->
          <div class="right_col">
               {{render_field(info.celebrity, class_="form-control")}}
          </div>
     </div>
     
     <!-- Dessert -->
     <div class="row">
          <!-- Input Box -->
          <div class="right_col">
               {{render_field(info.dessert, class_="form-control")}}
          </div>
     </div>
     
     <!-- Travel -->
     <div class="row">
          <!-- Input Box -->
          <div class="right_col">
               {{render_field(info.travel, class_="form-control")}}
          </div>
     </div>

     <br><br>

     <div class="row">
          <input type="submit" value="Enter" style="font-size: 20px; padding: 10px;">
     </div>
     
</form>

<div class="row">
     <form action="/get" method="GET">
          <input type="submit" value="Check" style="font-size: 20px; padding: 10px;">
     </form>
</div>


{% endblock %}